<div class="col-sm-1">
	<div class="row" id="app-second-sidebar">
	    <div class="second-sidebar-title">商品</div>
		<nav>
		<ul id="menu-second">
		<li id="menu-product-secd"><a href="${webctx}/product">商品管理</a></li>
		<li id="menu-categ-secd"><a href="${webctx}/category">商品分类</a></li>
		<li id="menu-group-secd"><a href="${webctx}/group">商品分组</a></li>
		<li id="menu-speci-secd"><a href="${webctx}/specification">商品规格</a></li>
		<li id="menu-deli-secd"><a href="${webctx}/delivery">运费模板</a></li>
		</ul>
		</nav>
    </div>
</div>