<!-- start: Header -->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i></div>
    <div class="sidebar-collapse">
        <ul class="nav" id="menu-items">
            <li class="nav-header">
                <div class="dropdown profile-element" style="margin-bottom: 5px;margin-top: 2px;">
                    <span><img alt="image" class="img-circle" style="width: 30px;height: 30px;" src="${webctx}/resources/images/dianbuLogo.png" /></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
                        <span class="clear">
                       	<span class="block m-t-xs"><strong class="font-bold">wxmall</strong></span>
                        </span>
                    </a>
                    <!-- <ul class="dropdown-menu animated fadeInLeft m-t-xs">
                        <li><a class="J_menuItem" href="form_avatar.html">修改头像</a>
                        </li>
                        <li><a class="J_menuItem" href="profile.html">个人资料</a>
                        </li>
                        <li><a class="J_menuItem" href="contacts.html">联系我们</a>
                        </li>
                        <li><a class="J_menuItem" href="mailbox.html">信箱</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html">安全退出</a>
                        </li>
                    </ul> -->
                </div>
                <div class="logo-element">WXM</div>
            </li>
            <li id="menu-home"><a class="J_menuItem" href="${webctx}/index"><i class="fa fa-home"></i><span class="nav-label">首页</span></a></li>
            <li id="menu-shop">
                <a class="J_menuItem" href="${webctx}/shop"><i class="fa fa-cart-arrow-down"></i><span class="nav-label">店铺</span></a>
            </li>
            <li id="menu-goods">
                <a class="J_menuItem" href="${webctx}/product"><i class="fa fa-database"></i><span class="nav-label">商品</span></a>
            </li>
            <li id="menu-order">
                <a class="J_menuItem" href="${webctx}/order"><i class="glyphicon glyphicon-tasks"></i><span class="nav-label">订单</span></a>
            </li>
            <li id="menu-discount">
                <a class="J_menuItem" href="${webctx}/promotion"><i class="glyphicon glyphicon-tags"></i><span class="nav-label">营销</span></a>
            </li>
            <li id="menu-qiandao">
                <a class="J_menuItem" href="${webctx}/qiandao"><i class="fa fa-crosshairs"></i><span class="nav-label">互动</span></a>
            </li>
            <li id="menu-customer">
                <a class="J_menuItem" href="${webctx}/customer"><i class="fa fa-columns"></i><span class="nav-label">客户</span></a>
            </li> 
            <li id="menu-setting">
                <a class="J_menuItem" href="${webctx}/setting"><i class="fa fa-edit"></i><span class="nav-label">设置</span></a>
            </li>
        </ul>
    </div>
</nav>