<!-- start: Header -->
<div id="wrapper">
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i></div>
    <div class="sidebar-collapse">
        <ul class="nav" id="menu-items">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" style="width: 60px;height: 60px;" src="${webctx}/resources/images/dianbuLogo.png" /></span>
                    <!-- <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="J_menuItem" href="form_avatar.html">修改头像</a>
                        </li>
                        <li><a class="J_menuItem" href="profile.html">个人资料</a>
                        </li>
                        <li><a class="J_menuItem" href="contacts.html">联系我们</a>
                        </li>
                        <li><a class="J_menuItem" href="mailbox.html">信箱</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html">安全退出</a>
                        </li>
                    </ul> -->
                </div>
                <div class="logo-element">XXX+</div>
            </li>
            <li id="menu-home"><a class="J_menuItem" href="${webctx}/index"><i class="fa fa-home"></i><span class="nav-label">首页</span></a></li>
            <li>
                <a href="javascript:void(0)"><i class="fa fa-cart-arrow-down"></i><span class="nav-label">微商城</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                 	<li id="menu-shop"><a class="J_menuItem" href="${webctx}/shop">店铺</a></li>
                    <li id="menu-goods"><a class="J_menuItem" href="${webctx}/product" data-index="0">商品</a></li>
                    <li id="menu-order"><a class="J_menuItem" href="${webctx}/order">订单</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)"><i class="glyphicon glyphicon-retweet"></i><span class="nav-label">微分销</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                 	<li id="menu-commission"><a class="J_menuItem" href="${webctx}/commission">佣金</a></li>
                    <li id="menu-agent"><a class="J_menuItem" href="${webctx}/agent/aduit" data-index="0">分销商</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)"><i class="glyphicon glyphicon-tags"></i> <span class="nav-label">营销</span><span class="fa arrow"></span><!-- <span class="label label-warning pull-right">16</span> --></a>
                <ul class="nav nav-second-level">
                    <li id="menu-discount"><a class="J_menuItem" href="${webctx}/promotion">促销</a></li>
                    <li id="menu-qiandao"><a class="J_menuItem" href="${webctx}/qiandao">互动</a></li>
                </ul>
            </li>
            <li id="menu-fans">
                <a class="J_menuItem" href="${webctx}/fans"><i class="fa fa-columns"></i><span class="nav-label">客户</span></a>
            </li>
            <li id="menu-setting">
                <a class="J_menuItem" href="${webctx}/setting"><i class="fa fa-edit"></i><span class="nav-label">设置</span></a>
            </li>
            <!-- <li>
                <a href="javascript:void(0)"><i class="fa fa-edit"></i> <span class="nav-label">设置</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li id="menu-setting"><a class="J_menuItem" href="${webctx}/setting">公众号</a></li>
                    <li id="menu-menu"><a class="J_menuItem" href="${webctx}/menu">微信菜单</a></li>
                </ul>
            </li> -->
        </ul>
    </div>
</nav>
[#include "/includes/toper.html" /]