<script src="${webctx}/resources/assets/js/jquery.min.js?v=2.1.4"></script>
<script src="${webctx}/resources/assets/js/bootstrap.min.js?v=3.3.6"></script>	
<script src="${webctx}/resources/assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="${webctx}/resources/assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="${webctx}/resources/assets/js/plugins/layer/layer.min.js"></script>
<script src="${webctx}/resources/assets/js/plugins/toastr/toastr.min.js"></script>
<script src="${webctx}/resources/assets/js/plugins/sweetalert/sweetalert.min.js"></script>
<!-- custom -->
<script src="${webctx}/resources/assets/js/hplus.js?v=4.1.0"></script> 
<!-- third plugins -->
<!-- <script src="${webctx}/resources/assets/js/plugins/pace/pace.min.js"></script> -->
<script src="${webctx}/resources/assets/js/bootstrap-dialog.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript" src="${webctx}/resources/js/datePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${webctx}/resources/js/obz.js"></script>
<script type="text/javascript" src="${webctx}/resources/js/dateUtils.js"></script>
<script type="text/javascript" src="${webctx}/resources/js/json2.js"></script>
<script type="text/javascript" src="${webctx}/resources/js/jquery/jquery.loadmask.js"></script>
<script type="text/javascript" src="${webctx}/resources/js/jquery/page/jquery.pager.js"></script>
<script type="text/javascript" src="${webctx}/resources/js/dbumama.table.js"></script>
<!-- end: JavaScript-->