<!--右侧部分开始-->
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		    <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="javascript:void(0)"><i class="fa fa-bars"></i> </a>
		        <!-- <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
		            <div class="form-group">
		                <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="top-search">
		            </div>
		        </form> -->
		    </div>
		    <ul class="nav navbar-top-links navbar-right">
		        <li class="dropdown hidden-xs">
		        [@shiro.authenticated]
      				[@shiro.authUser]
      					[#if authUser??]
	      					<a href="javascript:void(0)" class="dropdown-toggle">${authUser.app_name}</a>
      					[#else]
      						<a href="${webctx}/setting" class="dropdown-toggle" style="color: red">未绑定公众账号,去绑定</a>
      					[/#if]
      				[/@shiro.authUser]
      			[/@shiro.authenticated]
      			</li>
      			
      			<li class="dropdown hidden-xs">
	        		<a href="javascript:void(0)">
	        		[@shiro.authenticated]
			 			[@shiro.principal name="phone"/]
					[/@shiro.authenticated]</a>
	      		</li>
      			
		        <li class="hidden-xs"><a href="${webctx}/logout"><i class="fa fa-power-off"></i>退出</a></li>
		    </ul>
		</nav>
    </div>
    
	<!--右侧边栏开始-->
    <!--右侧边栏结束 结合footer.html 文件，故此处div不结束-->
    <div class="row J_mainContent" id="content-main">
    