<#import "/admin/_layout.html" as layout>
<@layout.header "用户"></@layout.header>
<@layout.body>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">用户</a></li>
                        <li class="breadcrumb-item active">岗位设置</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card card-primary card-outline card-outline-tabs">
                        <div class="card-header p-0 pt-1">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/user/edit?id=${(user.id)!}">基本信息</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/user/pwd?id=${(user.id)!}">修改密码</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/user/role?id=${(user.id)!}">角色分配</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/user/tag?id=${(user.id)!}">标签设置</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/admin/user/station?id=${(user.id)!}">岗位设置</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                <div class="tab-pane fade show active">
                                    <input type="hidden" name="id" value="${(user.id)!}">
                                    <table id="stationTableList" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="width: 10px"><input type="checkbox"></th>
                                            <th>岗位名称</th>
                                            <th>描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <#if stationList??>
                                            <#list stationList as item>
                                                <tr>
                                                    <td><input type="radio" name="stationIds" value="${item.id!}" <#if item.userId??>checked="checked"</#if></td>
                                                    <td>${item.stationName!}</td>
                                                    <td>${item.stationDesc!}</td>
                                                </tr>
                                            </#list>
                                        </#if>
                                        </tbody>
                                    </table>
                                    <button id="saveStation" type="button" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</@layout.body>
<@layout.script>
    <script>
        $(document).ready(function(){
            function getChecked() {
                var ids = [];
                $("#stationTableList input[type=radio]:checked").each(function(){
                    ids.push($(this).val());
                });
                return ids;
            }

            $("#saveStation").click(function () {
                var stationIds = getChecked();
                var userId = ${user.id!};

                if(stationIds.length <= 0){
                    alertWarn("请选中至少一个岗位");
                    return;
                }

                $.ajax({
                    url: "/admin/user/doEditStation",
                    data: {userId: userId, stationIds: stationIds},
                    type: "POST",
                    success: function() {
                        alertSuccess("提交成功");
                    }
                });

            })
        });
    </script>
</@layout.script>