<#import "/admin/_layout.html" as layout>
<@layout.header "支付记录"></@layout.header>
<@layout.body>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">支付记录</a></li>
                        <li class="breadcrumb-item active">列表</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>流水号</th>
                                        <th>金额</th>
                                        <th>商品</th>
                                        <th>支付用户</th>
                                        <th>类型</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <#list pageData.records as item>
                                    <tr>
                                        <td>${item.id!}</td>
                                        <td></td>
                                        <td></td>
                                        <td>${item.title!}</td>
                                        <td>${item.desc!}</td>
                                        <td>${item.sortNum!}</td>
                                        <td><@formatTime value=item.created!/></td>
                                        <td><a href="/admin/user/tag/edit?id=${item.id!?c}">编辑</a></td>
                                    </tr>
                                </#list>
                            </table>
                            <@layout._adminPage/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</@layout.body>
<@layout.script>
</@layout.script>