<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
[#include "/includes/header.html" /]
</head>
<body>
<div class="content weui-msg">
  <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">欢迎使用Wxmall。</h2>
    <p class="weui-msg__desc">请先安装后台管理系统</p>
  </div>
</div>
[#include "/includes/footer.html" /]
</body>
</html>