.weui-cells::after, .weui-cells::before {
	content :none !important;	
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    color: #d9d9d9;
}
.content {
	color: #212121;
	background-color: #EFEFEF;
}
.site-wrap {
	display: inline-block;
	width: 80%;
	margin-left: 10px;
	font-size: 12px;
}
.site .default {
	color: #3482FF;
}
.weui_panel_ft > .title {
	float: left;
	font-size: 16px;
	color: #222;
}
.weui_panel_ft .site-wrap {
	color: #727272;
}
.weui_panel .weui_panel_hd{
	color: inherit;
}
.weui_panel .weui_cell::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	border-top: 1px solid #D9D9D9;
}
.weui_cell_hd{
	position: relative;
	top: 0;
	/* width: 80px; */
	/* height: 80px; */
	margin-right: 10px;
}
.weui_cell_hd img{
	width: 100%;
	height: 100%;
}
.weui_cell_primary{
	font-size: 13px;
}
.number{
	font-size: 12px;
	color: #999999;
}
a.goods-list .count{
	margin-left: 10px;
}
a.goods-list .count:before{
	content: "x";
}
a.goods-list .name{
	height: 37px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.weui_panel .total{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	color: inherit;
}
.weui_panel .total span{
	font-size: 18px;
}
.content-padded{
	padding: 15px;
}
.content-padded a{
	display: inherit;
	color: #fff;
}
.weui_panel_ft:before {
    /* content: " "; */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    left: 15px;
}
.weui_panel_ft {
    padding: 10px 15px 30px;
    color: #999;
    font-size: 14px;
    position: relative;
}
.weui-popup-modal .modal-content {
    /* height: 420px;  */
    padding-top: 2.2rem;
    overflow: auto;
    box-sizing: border-box;
}
.weui_tabbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    background-color: #f7f7fa;
}
.address_defalut {
    background: #fff none repeat scroll 0 0;
    /* padding: 12px 10px 12px 58px; */
    position: relative;
}
.address_defalut.fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}
.address_defalut li span {
    color: #3985ff;
}
.address_defalut h3 {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    left: 10px;
    position: absolute;
    top: 12px;
    width: 2em;
}
.address_defalut ul {
    padding-right: 30px;
    position: relative;
}
.address_defalut ul::after {
    border-color: #666;
    height: 8px;
    right: 2px;
    width: 8px;
}
.address_defalut li {
    font-size: 14px;
    overflow-wrap: break-word;
    word-break: break-all;
}
.address_defalut li strong {
    font-weight: 400;
}
.address_defalut li.error, .address_defalut li em {
    color: #e4393c;
}
.address_defalut li.error::before {
    content: " ";
    display: inline-block;
    margin: -2px 3px 0 0;
    vertical-align: middle;
}
.address_defalut li.tips {
    color: #ff9600;
    font-size: 10px;
}
.address_defalut .addr_select {
    margin-left: 0;
}
.address_defalut .address_defalut_text {
    margin: 10px 0 0 -48px;
    padding-top: 10px;
    position: relative;
}
.address_defalut .address_defalut_text span {
    color: #999;
}
.address_defalut .address_defalut_text::before {
    border-color: #ddd;
}
.address_defalut.address_border {
     background: #fff url("../../resources/images/address_img.png") repeat-x scroll -7px bottom / 60px 4px;
     padding-bottom: 16px;

}
.order_info {
    background: #fff none repeat scroll 0 0;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0 10px;
    position: relative;
}
.order_info h4 {
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
}
.order_info dl {
    border-bottom: 1px dotted #cbcbcb;
}
.order_info dt {
    line-height: 16px;
    padding: 14px 40px 14px 0;
    position: relative;
}
.order_info dt::before {
    right: 10px;
}
.order_info dt span {
    float: left;
    text-align: center;
    width: 30%;
}
.order_info dt span:first-child {
    padding-right: 5px;
    text-align: left;
    width: 40%;
}
.order_info dt span:last-child {
    color: #fc004d;
    text-align: right;
    width: 30%;
}
.order_info dt i {
    color: #fc004d;
    margin: 0 4px;
}
.order_info dd {
    display: none;
}
.order_info .on dd {
    display: block;
}
.order_info .only {
    border-bottom-style: solid;
    padding-top: 15px;
}
.order_info .only .message, .order_info .only dt {
    display: none;
}
.order_info .only dd {
    display: block;
}
.order_info .order_info_list li {
    overflow: hidden;
    padding: 10px 20px 10px 0;
    position: relative;
}
.order_info .order_info_list li::before {
    border-color: #cbcbcb;
}
.order_info .order_info_list li::after {
    right: -2px;
}
.order_info .order_info_list .message {
    padding-right: 0;
}
.order_info .order_info_list .message::after {
    display: none;
}
.order_info .order_info_list strong {
    float: left;
    font-weight: 400;
}
.order_info .order_info_list span {
    float: right;
    max-width: 200px;
}
.order_info li {
    line-height: 16px;
    padding: 14px 10px;
    position: relative;
}
.order_info .hproduct {
    font-size: 12px;
    min-height: 75px;
    padding: 15px 0 0;
    position: relative;
}
.order_info .hproduct::before {
    border-color: #cbcbcb;
}
.order_info .hproduct .sku .tag {
    background: #e4393c none repeat scroll 0 0;
    color: #fff;
    font-size: 10px;
    margin-left: 5px;
    padding: 0 5px;
}
.order_info .hproduct .fn, .order_info .hproduct .sku, .order_info .hproduct .sku_coll {
    padding-left: 65px;
}
.order_info .hproduct .fn, .order_info .hproduct .sku_coll {
    padding-right: 60px;
}
.order_info .hproduct .sku {
    margin-bottom: 2px;
    overflow-wrap: break-word;
    word-break: break-all;
}
.order_info .hproduct .photo {
    height: 60px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 60px;
}
.order_info .hproduct .photo_tag {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 10px;
    height: 15px;
    left: 0;
    line-height: 15px;
    position: absolute;
    text-align: center;
    top: 75px;
    width: 75px;
    z-index: 1;
}
.order_info .hproduct .fn {
    color: #333;
    /* height: 40px; */
    line-height: 20px;
    margin-bottom: 5px;
}
.order_info .hproduct .fn > span {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    margin-right: 5px;
    text-align: center;
    vertical-align: 1px;
    width: 50px;
}
.order_info .hproduct .sku em {
    color: #999;
}
.order_info .hproduct .sku span {
    color: #333;
}
.order_info .hproduct .sku .price {
    color: #e4393c;
}
.order_info .hproduct .sku .empty {
    color: #fc004d;
}
.order_info .hproduct .last {
    margin: 0 5px;
}
.order_info .hproduct .last strong {
    margin: 0 2px;
}
.order_info .hproduct .last em {
    color: #e4393c;
}
.order_info .hproduct .count {
    background: #efefef none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 1px;
    height: 18px;
    line-height: normal;
    padding: 0;
    text-align: center;
    width: 46px;
}
.order_info .hproduct .sku_coll {
    color: #999;
    font-size: 10px;
    line-height: 1;
    margin-bottom: 5px;
}
.order_info .hproduct .sku_price {
    color: #e4393c;
    font-weight: 700;
    position: absolute;
    right: 12px;
    top: 18px;
}
.order_info .hproduct .sku_count {
    position: absolute;
    right: 12px;
    top: 38px;
}
.order_info .hproduct .num_wrap {
    margin: 10px 0;
}
.order_info .hproduct .hproduct_text_line {
    color: #333;
    font-size: 12px;
    padding-left: 85px;
}
.order_info .hproduct .hproduct_text_line .hproduct_text_line_title {
    color: #999;
}

.order_info .hproduct .hproduct_loading_bar {
    margin-top: 20px;
}
.order_info .hproduct .hproduct_loading_bar .bar_wrap {
    background-color: #f2f2f7;
    border-radius: 6px;
    height: 6px;
    overflow: hidden;
    position: relative;
}
.order_info .hproduct .hproduct_loading_bar .bar_wrap .bar_inside {
    background-color: #e4393c;
    border-radius: 6px;
    height: 6px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.order_info .hproduct .hproduct_loading_bar .hproduct_loading_bar_text {
    color: #666;
    font-size: 12px;
    height: 31px;
    line-height: 31px;
}
.order_info .hproduct .hproduct_loading_bar .hproduct_loading_bar_text .right {
    float: right;
}
.order_info .hproduct .hproduct_loading_bar .hproduct_loading_bar_text .red {
    color: #e4393c;
}

.big-btn {
    border: medium none;
    font-size: 16px;
    line-height: 50px;
    padding: 0;
    vertical-align: top;
}
.big-btn-2-1{
    font-size:0;
    overflow:hidden;
    text-align:center;
    width: 60%;
}
.red-btn {
    background: #f44 none repeat scroll 0 0;
    color: #fff;
    position: relative;
}    
.mini-btn-2-1{
	float:left;
	width:40%;
}
/* .floatbox{position:fixed; top:0; right:0; bottom:0; left:0; background:rgba(0,0,0,0.5);} */
/* .floatbox>div{position:absolute; top:50%; left:15px; right:15px; transform: translate(0,-50%); -webkit-transform: translate(0,-50%); max-height:80%; overflow-y:auto; background:#fff; border-radius:5px;} */
