<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
[#include "/includes/header.html" /]
</head>
<body>
<!-- Main content -->
<div class="container">
	<div class="row ibox-content">
		<div class="col-md-8  col-md-offset-2 ">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="http://www.dbumama.com" target="_blank"><b>点步科技Wxmall微商城产品安装向导</b></a>				
				</div>
			</div>
			<!-- Default box -->
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">安装完成。</h3>
				</div>
				<div class="box-body">安装完成！稍等几秒后自动刷新。若一直停留在此页面，请重启你的web容器。</div>
				<!-- /.box-footer-->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.content -->
	</div>
</div>
[#include "/includes/footer.html" /]
</body>
</html>
