<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
[#include "/includes/header.html" /]
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<!-- Main content -->
<div class="wrapper wrapper-content">
	<div class="row ibox-content">
		<div class="col-md-8  col-md-offset-2 ">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="http://www.dbumama.com" target="_blank"><b>点步科技Wxmall微商城产品安装向导</b></a>				
				</div>
			</div>
			<!-- Default box -->
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">安装必读。</h3>
				</div>
				<div class="box-body">
					欢迎使用Wxmall。在安装前，请准备好如下信息。<br /> <br /> 1、数据库名 (请创建好)<br /> 2、数据库用户名<br /> 3、数据库密码<br /> 4、数据库主机<br /> <br />
					<p style="color: red;">我们需要您使用有建库权限的账号，创建一个数据库，该库必须有建表权限，并提供用户名以及密码，系统不会自动为您建库</p>
					<p style="color: red;">Mysql版本5.6 + (含5.6) </p>
					<p>如果您准备好了，那么系统会自动为您导入数据表，这个过程大概需要几分钟时间，请耐心等待...<br /> <br /> 需要更多帮助？点击</p>
					<a href="http://www.dbumama.com" target="_blank">这里</a>
					。 <br /> <br />
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					<a href="${webctx}/install/step2" class="btn btn-primary pull-right"><b>下一步</b></a>
				</div>
				<!-- /.box-footer-->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.content -->
	</div>
</div>
[#include "/includes/footer.html" /]
</body>
</html>