<html>
<head>
<title>404</title>
[#include "/includes/header.html" /]
</head>
<body>
<div class="content weui-msg">
  <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">404</h2>
    <p class="weui-msg__desc">哎呀，迷路了，找不到方向了。。。</p>
  </div>
  <!-- <div class="weui-msg__opr-area">
    <p class="weui-btn-area">
      <a href="javascript:;" class="weui-btn weui-btn_primary">推荐操作</a>
      <a href="javascript:;" class="weui-btn weui-btn_default">辅助操作</a>
    </p>
  </div> -->
</div>
[#include "/includes/footer.html" /]
</body>
</html>
