<!DOCTYPE html>
<html>
<head>
<title></title>
[#include "/includes/header.html" /]
</head>
<body>
<!-- <header class="bar bar-nav">
	<a class="button button-link button-nav pull-left back" href="/demos/bar"> 
		<span class="icon icon-left"></span> 返回
	</a>
	<h1 class="title">工具栏</h1>
</header> -->
<div class="content content-block native-scroll">
	<!-- <h1>请先授权登陆</h1> -->
  	<div>
    	 <p>请先授权登陆</p>
    </div>
    <div style="padding-top: 10px;">
     	<p>
     		<a class="button button-big button-fill button-success"  href="javascript:void(0);" id="auth_login_btn">授权登陆</a>
		</p>
    </div>
</div>
[#include "/includes/footer.html" /]
</body>
</html>