<!DOCTYPE html>
<html>
<head>
<title>${_sellerUser.title }</title>
[#include "/includes/header.html" /]
</head>
<body>
<div class="content weui-msg">
  <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">此功能已停止（软件服务已过期）</h2>
    <p class="weui-msg__desc">请联系公众号管理员进行续费服务，续费网址：http://www.dbumama.com</p>
  </div>
  <!-- <div class="weui-msg__opr-area">
    <p class="weui-btn-area">
      <a href="javascript:;" class="weui-btn weui-btn_primary">推荐操作</a>
      <a href="javascript:;" class="weui-btn weui-btn_default">辅助操作</a>
    </p>
  </div> -->
</div>
[#include "/includes/footer.html" /]
</body>
</html>