[#include "/mall/common/default.html" /]
<style>
.weui_media_box.weui_media_text img{
max-width: 100%;
}
</style>
<div class="content">
<!-- 主体内容 -->
<div class="weui_tab_bd">
	<!-- 商品信息 -->
	<div class="weui_panel goods-details">
		<div class="weui_panel_bd">
			<div class="weui_media_box weui_media_text">
				<h4 class="weui_media_title">商品描述</h4>
				<p class="weui_media_desc">${desc}</p>
			</div>
		</div>
	</div>
	<!-- /商品信息 -->
</div>
<!-- /主体内容 -->
</div>
<!--手机端script需要加载后方-->
[#include "/mall/common/script.html"/]
