<#macro header title>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>${title!""}</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/font-css.css">
    <link rel="stylesheet" href="/static/libs/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/static/libs/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="/static/libs/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="/static/libs/jqvmap/jqvmap.min.css">
    <link rel="stylesheet" href="/static/libs/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/libs/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/libs/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/static/libs/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/static/libs/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="/static/libs/toastr/toastr.css">
    <link rel="stylesheet" href="/static/libs/select2/css/select2.min.css">
    <link rel="stylesheet" href="/static/libs/switchery/switchery.min.css">
    <link rel="stylesheet" href="/static/libs/ztree/zTreeStyle/zTreeStyle.css">
    <link rel="stylesheet" href="/static/css/adminlte.min.css">
    <link rel="stylesheet" href="/static/css/fastcms.css">
    <#nested/>
</head>
</#macro>
<#macro body>

<body class="hold-transition layout-top-nav">
<div class="wrapper">

    <@hasLogin>
        <#if data?string('yes', 'no') == 'yes'>
            <#include "_menu.html">
        </#if>
    </@hasLogin>

    <div class="content-wrapper">
        <#-- 在这里嵌入main content -->
        <#nested/>
    </div>

    <#include "_footer.html">

    <aside class="control-sidebar control-sidebar-dark"></aside>
</div>
</#macro>
<#macro script>
    <script src="/static/libs/jquery/jquery.min.js"></script>
    <script src="/static/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/libs/jquery/jquery.form.min.js"></script>
    <script> $.widget.bridge('uibutton', $.ui.button) </script>
    <script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/libs/chart.js/Chart.min.js"></script>
    <script src="/static/libs/jqvmap/jquery.vmap.min.js"></script>
    <script src="/static/libs/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="/static/libs/jquery-knob/jquery.knob.min.js"></script>
    <script src="/static/libs/jquery-validation/jquery.validate.min.js"></script>
    <script src="/static/libs/jquery-validation/additional-methods.min.js"></script>
    <script src="/static/libs/jquery-validation/localization/messages_zh.min.js"></script>
    <script src="/static/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/libs/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/static/libs/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/libs/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/static/libs/moment/moment.min.js"></script>
    <script src="/static/libs/toastr/toastr.min.js"></script>
    <script src="/static/libs/daterangepicker/daterangepicker.js"></script>
    <script src="/static/libs/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/static/libs/summernote/summernote-bs4.min.js"></script>
    <script src="/static/libs/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="/static/libs/select2/js/select2.full.min.js"></script>
    <script src="/static/libs/switchery/switchery.min.js"></script>
    <script src="/static/libs/ztree/jquery.ztree.all.min.js"></script>
    <script src="/static/libs/layer/layer.js"></script>
    <script src="/static/js/adminlte.js"></script>
    <script src="/static/js/fastcms.js"></script>
    <script type="text/javascript">
        var ctx = "${request.contextPath}";
        var visit = "${visit}";
        fastcms.spath = "${spath}";
        fastcms.visit = visit;
    </script>
<#nested />
</body>
</html>
</#macro>

<#include "_ucenterPage.html">