<#import "_layout.html" as layout>
<@layout.header "个人中心-首页"></@layout.header>
<@layout.body>
<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="#">首页</a></li>
                    <li class="breadcrumb-item"><a href="#">个人中心</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">fastcms系统</h5>

                        <p class="card-text"></p>
                        <p class="card-text">
                            欢迎使用fastcms系统
                        </p>

                        <p class="card-text">
                            fastcms可以助力你快速搭建属于自己的营销网站，快速搭建自己的小程序商城
                        </p>

                        <a href="https://gitee.com/dianbuapp_admin/fastcms" target="_blank" class="card-link">源码下载</a>
                        <a href="http://www.xjd2020.com" target="_blank" class="card-link">联系我们</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</@layout.body>
<@layout.script></@layout.script>