<!DOCTYPE html>
<html>
<head>
<title></title>
[#include "/includes/header.html" /]
</head>
<body>
<div class="content weui-msg">
  <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">订单结算出错</h2>
    <p class="weui-msg__desc"><font color="red">${error}</font></p>
  </div>
  <div class="weui-msg__opr-area">
    <p class="weui-btn-area">
      <a href="${webctx}/" class="weui-btn weui-btn_primary">回到首页</a>
    </p>
  </div>
</div>
[#include "/includes/footer.html" /]
</body>
</html>