<div class="foot-black"></div>
<div id="menu-items" class="weui-tabbar toolbar-bottom wy-foot-menu">
  <a id="nav-page-index" href="${webctx }/${url}" class="weui-tabbar__item weui-bar__item--on">
    <div class="weui-tabbar__icon foot-menu-home"></div>
    <p class="weui-tabbar__label">首页</p>
  </a>
  <a id="nav-page-categ" href="${webctx }/category" class="weui-tabbar__item">
    <div class="weui-tabbar__icon foot-menu-list"></div>
    <p class="weui-tabbar__label">分类</p>
  </a>
  <a id="nav-page-cart" href="${webctx}/cart" class="weui-tabbar__item">
    <!-- <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span> -->
    <div class="weui-tabbar__icon foot-menu-cart"></div>
    <p class="weui-tabbar__label">购物车</p>
  </a>
  <a id="nav-page-user" href="${webctx }/user" class="weui-tabbar__item">
    <div class="weui-tabbar__icon foot-menu-member"></div>
    <p class="weui-tabbar__label">我的</p>
  </a>
</div>