<div id="page-search" class="page">
    <header class="bar bar-nav">
        <a class="icon icon-me pull-left open-panel"></a>
        <a class="icon icon-left pull-right back"></a>

        <div class="searchbar row" style="background: rgba(0,0,0,0);width:80%; margin-left:auto;margin-right:auto" >
            <div class="search-input col-75">
                <label class="icon icon-search" for="search"></label>
                <input type="search" id='search' placeholder='输入关键字...'/>
            </div>
            <a class="button button-fill button-primary col-20" style="top: 0px;">
                <span class="icon icon-search"></span>
            </a>
        </div>
    </header>
    [#include"/mall/common/navigator.html"/]
</div>