<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>使用教程</title>
</head>
<body class="fixed-sidebar full-height-layout gray-bg">
<div id="right_content">
	<!-- <div class="body_cont_title">
		<span class="font">常见问题</span>
	</div> -->
	<div class="faq_content">
		<div class="faq_list">
			<h3 class="title">1、 “签到抽奖”有什么用？</h3>
			<div class="faq_cont">
				<p>本软件可以帮您创建您店铺的活动积分体系！</p>
				<p>您可以发布签到抽奖等营销活动，买家完成活动获取积分，积分可以用来抽奖，兑换奖品！</p>
				<p>本软件可<font color="red"><b>让您在不烧钱的情况</b></font>下，助您轻松吸粉、提高粉丝黏性、增加买家互动、促进订单转化！</p>
			</div>
		</div>
		<div class="faq_list">
			<h3 class="title"><font color="blue" ><b>2、怎么把签到抽奖活动装修到手机店铺</b></font></h3>
			<div class="faq_cont">
				<p>
					<a target="_blank" href="https://fuwu.bbs.taobao.com/detail.html?postId=6537614">点击查看活动装修教程</a>
				</p>
			</div>
		</div>
		<div class="faq_list">
			<h3 class="title">3、什么是店铺的“积分”？名称是否可以更改？</h3>
			<div class="faq_cont">
				<p>“积分”是您店铺特有的虚拟货币，买家完成各类活动可获得“积分”，买家参与“抽奖”、“兑换”需要消耗“积分”！</p>
				<p>您可以在“系统设置”中自定义“积分”名称，如积分、元宝或是您店铺的特有称谓！</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>