.main-container .sc-goods-list {
	font-size: 12px;
	padding: 5px;
	list-style: none;
	margin: 0
}

.main-container .sc-goods-list .goods-card {
	position: relative
}

.main-container .sc-goods-list .link {
	display: block;
	background: #fff;
	min-height: 100px
}

.main-container .sc-goods-list .photo-block {
	text-align: center;
	overflow: hidden;
	position: relative;
	background-color: #f8f8f8;
	background-size: 6px 6px
}

.main-container .sc-goods-list .photo-block img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	vertical-align: bottom;
	max-width: 100%
}

.main-container .sc-goods-list .info {
	position: relative
}

.main-container .sc-goods-list .info p {
	margin: 0px
}

.main-container .sc-goods-list .info p.goods-title {
	line-height: 1.3;
	overflow: hidden;
	color: #333
}

.main-container .sc-goods-list .info p.goods-sub-title {
	word-break: break-all;
	line-height: 16px;
	padding-top: 0px;
	color: #666;
	white-space: normal
}

.main-container .sc-goods-list .info p.goods-price {
	font-weight: bold;
	padding: 0px
}

.main-container .sc-goods-list .info p.goods-price>em {
	font-style: normal;
	color: #ff6600
}

.main-container .sc-goods-list .info p.goods-price-taobao {
	color: #999;
	font-size: 12px;
	text-decoration: line-through
}

.main-container .sc-goods-list .info.info-no-title p.goods-title {
	display: none !important
}

.main-container .sc-goods-list .info.info-no-price p.goods-price {
	opacity: 0
}

.main-container .sc-goods-list .info.info-no-price p.goods-price-taobao {
	display: none !important
}

.main-container .sc-goods-list .buy-tag-space {
	height: 14px
}

.main-container .sc-goods-list .more-link {
	color: #07d
}

.main-container .sc-goods-list .more-link:link,.main-container .sc-goods-list .more-link:hover,.main-container .sc-goods-list .more-link:visited,.main-container .sc-goods-list .more-link:active {
	color: #07d
}

.main-container .sc-goods-list .empty-list .desc {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 16px;
	color: #999
}

.main-container .sc-goods-list .empty-list .tag-home {
	padding: 0;
	width: 138px;
	height: 28px;
	line-height: 28px;
	font-size: 14px
}

.main-container .sc-goods-list .sold-out {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.25);
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	color: #fff;
	background: url("") no-repeat center center rgba(0,0,0,0.3);
	background-size: auto 40%;
	text-indent: -999em
}

.main-container .sc-goods-list .sold-out em {
	margin: auto
}

.main-container .sc-goods-list .goods-buy {
	position: absolute
}

.main-container .sc-goods-list .goods-buy.btn1,.main-container .sc-goods-list .goods-buy.btn2,.main-container .sc-goods-list .goods-buy.btn3,.main-container .sc-goods-list .goods-buy.btn4 {
	background-image: url("../css/images/wap/showcase-1416814739063.png");
	background-repeat: no-repeat
}

.main-container .sc-goods-list .goods-buy.btn1 {
	right: 10px;
	bottom: 8px;
	height: 25px;
	width: 30px;
	background-position: 0 0
}

.main-container .sc-goods-list .goods-buy.btn1.ajax-loading {
	right: 12px;
	bottom: 10px
}

.main-container .sc-goods-list .goods-buy.btn2 {
	right: 10px;
	bottom: 8px;
	height: 20px;
	width: 20px;
	background-position: 0 -88px
}

.main-container .sc-goods-list .goods-buy.btn2.ajax-loading {
	right: 12px;
	bottom: 10px
}

.main-container .sc-goods-list .goods-buy.btn3 {
	right: 1px;
	bottom: 8px;
	height: 25px;
	width: 40px;
	background-position: 0 -25px
}

.main-container .sc-goods-list .goods-buy.btn3.ajax-loading {
	right: 12px;
	bottom: 10px
}

.main-container .sc-goods-list .goods-buy.btn4 {
	right: 10px;
	bottom: 8px;
	height: 20px;
	width: 37px;
	background-position: 0 -68px
}

.main-container .sc-goods-list .goods-buy.btn4.ajax-loading {
	right: 22px;
	bottom: 10px
}

.main-container .sc-goods-list .goods-buy.ajax-loading {
	background-image: url("../css/images/wap/common/loading.gif");
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	background-position: top left
}

.main-container .sc-goods-list .buy-response {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 70px;
	width: 70px;
	opacity: 0
}

.main-container .sc-goods-list .goods-wish {
	position: absolute;
	top: 0px;
	right: 10px;
	width: 34px;
	height: 23px;
	background-position: 0px -9px;
	background-repeat: no-repeat;
	background-size: 34px 74px
}

.main-container .sc-goods-list .goods-wish.added-wish {
	background-position: 0px -41px
}

.main-container .sc-goods-list .goods-wish.btn-wish {
	background-image: url("../css/images/wap/wish_list.png")
}

.main-container .sc-goods-list .wish-response {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50px;
	height: 50px;
	opacity: 0
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	.main-container .sc-goods-list .goods-buy.btn1,.main-container .sc-goods-list .goods-buy.btn2,.main-container .sc-goods-list .goods-buy.btn3,.main-container .sc-goods-list .goods-buy.btn4 {
		background-image: url("../css/images/wap/showcase2x-1416814739063.png");
		background-repeat: no-repeat;
		background-size: 40px auto
	}

	.main-container .sc-goods-list .goods-buy.btn4 {
		background-position: 0 -50px
	}

	.main-container .sc-goods-list .goods-buy.ajax-loading {
		background-image: url("../css/images/wap/loading.gif");
		background-size: 16px 16px;
		background-position: top left
	}

	.main-container .sc-goods-list .goods-wish.btn-wish {
		background-image: url("../css/images/wap/wish_list@2x.png")
	}

	.main-container .sc-goods-list .goods-wish.added-wish {
		background-position: 0px -40px
	}
}

.main-container .sc-goods-list.pic .goods-card .info {
	padding-left: 4px;
	margin-top: 10px
}

.main-container .sc-goods-list.pic .goods-card .info .goods-title {
	margin-bottom: 5px
}

.main-container .sc-goods-list.pic .goods-card .info .goods-price {
	float: left;
	margin: 0 10px 10px 0
}

.main-container .sc-goods-list.pic .goods-wish {
	top: 5px
}

.main-container .sc-goods-list.pic .goods-card.big-pic .photo-block img {
	position: relative;
	max-height: 500px
}

.main-container .sc-goods-list.pic .goods-card.big-pic .sold-out {
	background-size: auto 34%
}

.main-container .sc-goods-list.pic .goods-card.small-pic {
	width: 50%;
	float: left;
	margin: 0
}

.main-container .sc-goods-list.pic .goods-card.small-pic .photo-block {
	height: 143px
}

.main-container .sc-goods-list.pic .goods-card.small-pic .info {
	font-size: 13px
}

.main-container .sc-goods-list.pic .goods-card.small-pic .info .goods-title {
	height: 32px;
	overflow: hidden;
	word-break: break-all
}

.main-container .sc-goods-list.pic .goods-card.small-pic .info .goods-price-taobao {
	display: none
}

.main-container .sc-goods-list.pic .goods-card.small-pic .goods-buy.btn3 {
	right: 1px
}

.main-container .sc-goods-list.pic .goods-card.small-pic .goods-buy.btn3.ajax-loading {
	right: 12px
}

.main-container .sc-goods-list.pic .goods-card.normal .photo-block {
	width: 100%
}

.main-container .sc-goods-list.pic .goods-card.normal .info {
	position: absolute;
	height: 22px;
	bottom: 0;
	right: 10px;
	margin: 5px 0;
	padding-left: 0px;
	white-space: nowrap;
	overflow: hidden;
	background: rgba(0,0,0,0.4);
	background-clip: border-box;
	border-radius: 2px
}

.main-container .sc-goods-list.pic .goods-card.normal .info .goods-title {
	float: left;
	margin: 0;
	padding-left: 10px;
	max-width: 70%;
	line-height: 22px;
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap
}

.main-container .sc-goods-list.pic .goods-card.normal .info .goods-price {
	color: #fff;
	margin: 0px;
	float: right;
	max-width: 70px;
	overflow: hidden;
	line-height: 22px;
	height: 22px;
	padding: 0 5px;
}

.main-container .sc-goods-list.pic .goods-card.normal .info .goods-price em {
	color: white
}

.main-container .sc-goods-list.pic .goods-card.normal .info .goods-price-taobao,.main-container .sc-goods-list.pic .goods-card.normal .info .goods-buy {
	display: none
}

.main-container .sc-goods-list.pic .goods-card.small-pic.normal .photo-block img {
	max-width: 100%;
	max-height: 192px
}

.main-container .sc-goods-list.pic .goods-card.small-pic.normal .link {
	position: relative;
	margin: 5px
}

.main-container .sc-goods-list.pic .goods-card.small-pic.normal .info {
	width: auto
}

.main-container .sc-goods-list.pic .goods-card.small-pic.normal .info .goods-title {
	display: none
}

.main-container .sc-goods-list.pic .goods-card.big-pic.normal {
	width: 100%
}

.main-container .sc-goods-list.pic .goods-card.big-pic.normal .link {
	margin: 5px 0
}

.main-container .sc-goods-list.pic .goods-card.big-pic.normal .photo-block {
	min-height: 100px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.normal .info {
	left: 10px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.normal .info.info-no-title {
	left: auto
}

.main-container .sc-goods-list.pic .goods-card.big-pic.normal.has-sub-title .link,.main-container .sc-goods-list.pic .goods-card.big-pic.normal.has-sub-title .info {
	background-color: #f9f9f9
}

.main-container .sc-goods-list.pic .goods-card.big-pic.normal.has-sub-title .info {
	position: relative;
	height: auto;
	left: 0px;
	right: 0px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.normal.has-sub-title .info .goods-title {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	min-width: 10px;
	min-height: 22px;
	padding-left: 0px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.normal.has-sub-title .info .goods-price {
	position: absolute;
	right: 0px;
	top: 0px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.normal.has-sub-title .info .goods-price em {
	color: #f60;
	font-size: 14px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.normal.has-sub-title .info .goods-sub-title {
	clear: both
}

.main-container .sc-goods-list.pic .goods-card.big-pic.normal.has-sub-title .info.info-no-title.info-price {
	padding-top: 22px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card {
	margin: 8px 0;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .link {
	margin: 0px 4px;
	-webkit-border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	-moz-border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	border-top: 2px solid #e5e5e5;
	border-right: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	border-left: 2px solid #e5e5e5
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	.main-container .sc-goods-list.pic .goods-card.big-pic.card .link {
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 1px;
		border-left-width: 1px
	}
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .photo-block {
	min-height: 100px;
	margin: 4px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .info {
	margin-left: 4px;
	padding-right: 8px;
	min-height: 34px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .info .goods-title {
	font-size: 14px;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 85%
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .info .goods-sub-title {
	width: 100%;
	margin-bottom: 6px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .info .goods-price {
	font-size: 15px;
	margin-top: -10px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .info .goods-price-taobao {
	line-height: 17px;
	padding-top: 2px;
	padding-bottom: 8px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .info.info-no-price {
	min-height: 28px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .goods-buy.info-title.info-no-price.btn1 {
	bottom: 9px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .goods-buy.info-title.info-no-price.btn1.ajax-loading {
	bottom: 13.5px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .goods-buy.info-title.info-no-price.btn2 {
	bottom: 8px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .goods-buy.info-title.info-no-price.btn2.ajax-loading {
	bottom: 11.5px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .goods-buy.info-title.info-no-price.btn4.ajax-loading {
	bottom: 10.5px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .goods-buy.btn1 {
	bottom: 10px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .goods-buy.btn1.ajax-loading {
	bottom: 16.5px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .goods-buy.btn2 {
	bottom: 12px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .goods-buy.btn2.ajax-loading {
	bottom: 14.5px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .goods-buy.btn3 {
	bottom: 10px;
	right: 1px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .goods-buy.btn3.ajax-loading {
	bottom: 13px;
	right: 10px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .goods-buy.btn4 {
	bottom: 10px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card .goods-buy.btn4.ajax-loading {
	bottom: 13.5px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card.has-sub-title .info.info-no-price .goods-sub-title {
	padding-bottom: 35px
}

.main-container .sc-goods-list.pic .goods-card.big-pic.card.has-sub-title .info.btn0 .goods-sub-title {
	padding-bottom: 0px
}

.main-container .sc-goods-list.pic .goods-card.small-pic.card {
	max-height: 230px;
	margin: 4px 0
}

.main-container .sc-goods-list.pic .goods-card.small-pic.card .link {
	-webkit-border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	-moz-border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	border-top: 2px solid #e5e5e5;
	border-right: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	border-left: 2px solid #e5e5e5;
	margin: 0 4px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	.main-container .sc-goods-list.pic .goods-card.small-pic.card .link {
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 1px;
		border-left-width: 1px
	}
}

.main-container .sc-goods-list.pic .goods-card.small-pic.card .photo-block img {
	max-height: 100%
}

.main-container .sc-goods-list.pic .goods-card.small-pic.card .info {
	min-height: 25px
}

.main-container .sc-goods-list.pic .goods-card.small-pic.card .info .goods-price {
	margin-top: 5px
}

.main-container .sc-goods-list.pic .goods-card.small-pic.card .goods-buy.btn2 {
	bottom: 8px
}

.main-container .sc-goods-list.pic .goods-card.small-pic.card .goods-buy.btn2.ajax-loading {
	bottom: 8px
}

.main-container .sc-goods-list.pic .goods-card.small-pic.card .goods-buy.btn4 {
	right: 12px;
	bottom: 8px
}

.main-container .sc-goods-list.pic .goods-card.small-pic.card .goods-buy.btn4.ajax-loading {
	right: 16px;
	bottom: 8px
}

.main-container .sc-goods-list.pic .photo-block img {
	max-height: 192px;
	max-width: 100%
}

.main-container .sc-goods-list.pic.waterfall .goods-card.small-pic {
	width: 100%;
	margin: 0
}

.main-container .sc-goods-list.pic.waterfall .goods-card.small-pic .link {
	-webkit-border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	-moz-border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	border-top: 2px solid #e5e5e5;
	border-right: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	border-left: 2px solid #e5e5e5;
	margin: 4px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	.main-container .sc-goods-list.pic.waterfall .goods-card.small-pic .link {
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 1px;
		border-left-width: 1px
	}
}

.main-container .sc-goods-list.pic.waterfall .goods-card.small-pic .photo-block {
	height: auto;
	min-height: 100px
}

.main-container .sc-goods-list.pic.waterfall .goods-card.small-pic .photo-block img {
	position: relative;
	height: auto
}

.main-container .sc-goods-list.pic.waterfall .goods-card.small-pic .info .goods-title {
	height: auto;
	max-height: 32px
}

.main-container .sc-goods-list.pic.waterfall .goods-card.small-pic .info .goods-price {
	margin-top: 5px;
	margin-bottom: 11px
}

.main-container .sc-goods-list.pic.waterfall .goods-wish {
	top: 10px
}

.main-container .sc-goods-list.pic .goods-card.small-pic.promotion {
	max-height: 220px;
	margin: 0
}

.main-container .sc-goods-list.pic .goods-card.small-pic.promotion .link {
	-webkit-border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	-moz-border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	border-top: 2px solid #e5e5e5;
	border-right: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	border-left: 2px solid #e5e5e5;
	margin: 4px;
	position: relative
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	.main-container .sc-goods-list.pic .goods-card.small-pic.promotion .link {
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 1px;
		border-left-width: 1px
	}
}

.main-container .sc-goods-list.pic .goods-card.small-pic.promotion .info {
	height: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 4px;
	margin-top: 0px;
	background-color: #fff
}

.main-container .sc-goods-list.pic .goods-card.small-pic.promotion .info .goods-title {
	display: none
}

.main-container .sc-goods-list.pic .goods-card.small-pic.promotion .info .goods-price {
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 3px;
	overflow: hidden;
	white-space: nowrap
}

.main-container .sc-goods-list.pic .goods-card.small-pic.promotion .info .goods-price em {
	color: #ff495b
}

.main-container .sc-goods-list.pic .goods-card.small-pic.promotion .info .goods-price-taobao {
	display: block;
	clear: left;
	text-decoration: line-through;
	overflow: hidden;
	white-space: nowrap;
	line-height: 12px
}

.main-container .sc-goods-list.pic .goods-card.small-pic.promotion .goods-buy,.main-container .sc-goods-list.pic .goods-card.small-pic.promotion .buy-response {
	right: 0px;
	bottom: 0px;
	width: 47px;
	height: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 7px 10px;
	color: white;
	font-size: 13px;
	line-height: 13px
}

.main-container .sc-goods-list.pic .goods-card.small-pic.promotion .goods-buy {
	background: #ff495b
}

.main-container .sc-goods-list.pic.size-2 .goods-card.big-pic.card {
	margin: 4px 0
}

.main-container .sc-goods-list.size-2 .goods-card.big-pic {
	float: left
}

.main-container .sc-goods-list.pic.size-4 {
	padding: 5px 15px 0 15px;
	background-color: #fff
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic {
	-webkit-border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	-moz-border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	border-bottom: 2px solid #e5e5e5
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic {
		border-bottom-width: 1px
	}
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic:last-child,.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic:last-of-type {
	margin-bottom: 0px;
	border-bottom: none;
	-webkit-border-image: none;
	-moz-border-image: none;
	border-image: none
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic .goods-title {
	font-size: 14px;
	font-weight: bold;
	color: #222;
	line-height: 1.6;
	margin-bottom: 2px;
	word-break: break-word
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic .sub-goods-title {
	font-size: 12px;
	color: #888;
	line-height: 1.6;
	margin-bottom: 8px;
	word-break: break-word
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic .photo-block {
	float: none;
	background-color: #fff;
	margin: 0 0 20px 0;
	height: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic .photo-block .photo-block-sep {
	width: 4px
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic .photo-block .phote-block-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic .photo-block .phote-block-item:before {
	content: ' ';
	display: block;
	padding-top: 100%
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic .photo-block .phote-block-item img {
	max-width: 100%;
	max-height: 100%
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic.single-pic .photo-block {
	display: block
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic.single-pic .phote-block-item {
	text-align: left
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic.single-pic .phote-block-item:before {
	content: ' ';
	display: none;
	padding-top: 0
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic.single-pic .phote-block-item img {
	position: static;
	max-height: 175px
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic .goods-operate {
	position: relative;
	margin: 0 45px 10px 0;
	padding-right: 16px;
	height: 16px
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic .goods-operate .goods-price {
	color: #999;
	font-size: 12px
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic .goods-operate .goods-share {
	width: 20px;
	height: 16px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 51px 30px;
	background-image: url("../css/images/wap/showcase_e270134134.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic .goods-operate .goods-share {
		background-image: url("../css/images/wap/showcase@2x_e270134134.png")
	}
}

.main-container .sc-goods-list.pic.size-4 .goods-card.multi-pic .goods-buy.btn1 {
	right: 5px;
	bottom: 7px
}

.main-container .sc-goods-list.list .goods-card .photo-block {
	float: left;
	margin-right: 13px;
	width: 125px;
	height: 125px
}

.main-container .sc-goods-list.list .goods-card .photo-block img {
	max-width: 125px;
	max-height: 125px
}

.main-container .sc-goods-list.list .goods-card .info {
	height: 125px
}

.main-container .sc-goods-list.list .goods-card .info .goods-title {
	font-size: 14px;
	max-height: 52px;
	margin-bottom: 12px
}

.main-container .sc-goods-list.list .goods-card .info .goods-price {
	font-size: 15px;
	margin-bottom: 8px
}

.main-container .sc-goods-list.list .goods-card .info .goods-wish {
	left: 88px;
	right: auto
}

.main-container .sc-goods-list.list .goods-card .info .wish-response {
	left: 76px;
	right: auto
}

.main-container .sc-goods-list.list .goods-card .goods-buy.btn1 {
	bottom: 2px
}

.main-container .sc-goods-list.list .goods-card .goods-buy.btn1.ajax-loading {
	bottom: 6.5px
}

.main-container .sc-goods-list.list .goods-card .goods-buy.btn2 {
	bottom: 3px
}

.main-container .sc-goods-list.list .goods-card .goods-buy.btn2.ajax-loading {
	bottom: 5.5px
}

.main-container .sc-goods-list.list .goods-card .goods-buy.btn3 {
	bottom: 0px;
	right: -7px
}

.main-container .sc-goods-list.list .goods-card .goods-buy.btn3.ajax-loading {
	bottom: 3px;
	right: 10px
}

.main-container .sc-goods-list.list .goods-card .goods-buy.btn4 {
	bottom: 3px
}

.main-container .sc-goods-list.list .goods-card .goods-buy.btn4.ajax-loading {
	bottom: 6.5px
}

.main-container .sc-goods-list.list .goods-card .sold-out {
	background-size: auto 50%
}

.main-container .sc-goods-list.list .goods-card.normal {
	-webkit-border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	-moz-border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	border-bottom: 2px solid #e5e5e5;
	padding: 10px 0
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	.main-container .sc-goods-list.list .goods-card.normal {
		border-bottom-width: 1px
	}
}

.main-container .sc-goods-list.list .goods-card.normal .link {
	background: none
}

.main-container .sc-goods-list.list .goods-card.normal .goods-title {
	padding-top: 2px
}

.main-container .sc-goods-list.list .goods-card.card {
	padding: 5px 0px 5px 5px;
	margin: 8px;
	-webkit-border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	-moz-border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	border-image: url("../css/images/wap/border-line-2.png") 2 stretch;
	border-top: 2px solid #e5e5e5;
	border-right: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	border-left: 2px solid #e5e5e5;
	background: #fff
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	.main-container .sc-goods-list.list .goods-card.card {
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 1px;
		border-left-width: 1px
	}
}

.main-container .sc-goods-list.list .goods-card.card .goods-title {
	padding: 5px 6px 0 0
}

.main-container .empty-list {
	font-size: 14px;
	display: block;
	text-align: center;
	padding: 30px 10px;
	color: #999
}

.main-container .empty-list h4 {
	font-size: 16px;
	margin-bottom: 10px;
	color: #666
}

.main-container .empty-list div {
	margin-bottom: 20px
}

.main-container .empty-list .empty-list-header,.main-container .empty-list .empty-list-content {
	margin-bottom: 0
}

.main-container .empty-list .empty-list-content {
	margin-top: 20px
}

.main-container .empty-list .empty-list-content .home-page {
	padding: 8px 30px
}

.main-container .sc-goods-list .text-center {
	line-height: 1.5
}