<#import "/admin/_layout.html" as layout>
<@layout.header "小程序设置"></@layout.header>
<@layout.body>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">设置</a></li>
                        <li class="breadcrumb-item active">小程序</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-default">
                <form id="myForm" method="POST" action="/admin/config/doSave">
                    <input type="hidden" name="listener" value="WechatMiniConfigChangeListener">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="roleName">小程序名称</label>
                            <input type="text" name="wechat_mini_name" class="form-control" id="wechat_mini_name" placeholder="请输入小程序名称" value="${fastcmsConfig("wechat_mini_name")!}">
                        </div>
                        <div class="form-group">
                            <label for="roleName">小程序appId</label>
                            <input type="text" name="wechat_mini_app_id" class="form-control" id="wechat_mini_app_id" placeholder="请输入小程序appId" value="${fastcmsConfig("wechat_mini_app_id")!}">
                        </div>
                        <div class="form-group">
                            <label for="roleName">小程序appSecret</label>
                            <input type="text" name="wechat_mini_app_secret" class="form-control" id="wechat_mini_app_secret" placeholder="请输入小程序appSecret" value="${fastcmsConfig("wechat_mini_app_secret")!}">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</@layout.body>
<@layout.script>
    <script>
        $(function () {
            submitForm({
                wechat_mini_name: { required: true},
                wechat_mini_app_id: { required: true},
                wechat_mini_app_secret: { required: true}
            },{
                wechat_mini_name: {required: "请输入小程序名称"},
                wechat_mini_app_id: {required: "请输入小程序appId"},
                wechat_mini_app_secret: {required: "请输入小程序appSecret"}
            })
        });
    </script>
</@layout.script>