<@hasLogin>
<#if data?string('yes', 'no') == 'yes'>
  <#if visit?? && visit=='admin'>
    <#import "/admin/_layout.html" as layout>
  <#elseif visit?? && visit=='ucenter'>
    <#import "/ucenter/_layout.html" as layout>
  </#if>
    <#if visit??>
      <@layout.header "404"></@layout.header>
      <@layout.body>
        <section class="content">
          <div class="row">
            <div class="error-page">
              <h2 class="headline text-warning"> 404</h2>
              <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-warning"></i> 资源不存在.</h3>
                <p>
                  你访问的资源不存在，请确认请求资源地址是否正确<br>
                  <a href="/admin/index">返回首页</a>
                </p>
              </div>
            </div>
          </div>
        </section>
      </@layout.body>
      <@layout.script></@layout.script>
    </#if>
<#else>
  404 not found
</#if>
</@hasLogin>


