<@hasLogin>
<#if data?string('yes', 'no') == 'yes'>
  <#if visit?? && visit == 'admin'>
    <#import "/admin/_layout.html" as layout>
  <#elseif visit?? && visit == 'ucenter'>
    <#import "/ucenter/_layout.html" as layout>
  </#if>
  <#if visit??>
    <@layout.header "500"></@layout.header>
    <@layout.body>
      <section class="content">
        <div class="row">
          <div class="error-page">
            <h2 class="headline text-danger">500</h2>
            <div class="error-content">
              <h3><i class="fas fa-exclamation-triangle text-danger"></i> 发送系统错误</h3>
              <p>
                系统错误，无法正常使用
                <a href="/admin/index">返回首页</a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </@layout.body>
    <@layout.script></@layout.script>
  </#if>
  <#else>
  500 Error
</#if>
</@hasLogin>