<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastcms.mapper.PaymentRecordMapper">

    <select id="pagePaymentRecord" resultType="com.fastcms.service.IPaymentRecordService$PaymentListVo">
        select pr.*, u.user_name, u.nick_name from payment_record pr
        left join `user` u on pr.user_id = u.id
        ${ew.customSqlSegment}
    </select>

</mapper>
