<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastcms.mapper.ResourceMapper">

    <delete id="deleteAll">
        delete from resource
    </delete>

    <select id="getUserResourceList" resultType="java.lang.String">
        select DISTINCT rr.resource_path from role_resource rr
        where rr.role_id in(
        SELECT r.id FROM role r
        JOIN (select ur.* from user_role ur join `user` u on ur.user_id = u.id where ur.user_id = #{userId} and u.user_type = 1) urs
        on r.id = urs.role_id
        where r.active = 1
        )
    </select>

</mapper>
